body {
  height: 100vh;
  font: normal 16px 'Barlow Semi Condensed', sans-serif;
  background: radial-gradient(#1f3756, #141539);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  max-width: 800px;
  min-width: 330px;
}

/* Game Title and Score Box */
.intro {
  padding: 20px;
  border: 3px solid rgb(96, 110, 133);
  border-radius: 5px;
}

.heading {
  font-size: 2rem;
  text-align: center;
  line-height: 0.8;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.score-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.score{
  padding: 10px;
  color: rgb(42, 70, 192);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  width: 48%;
}

.user-score, .computer-score {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(59, 67, 99);
}

/* Game choices */
.icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.scissors {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border: 15px solid rgba(72, 101, 244, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

.scissors:active {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border: 15px solid rgba(72, 101, 244, 1);
  border-radius: 50%;
}

.scissors:hover {
  transform: scale(1.05);
  border: 15px solid rgba(72, 101, 244, 1);
  transition: ease-in 0.2s;
}

.scissors img {
  width: 50px;
  height: 50px;
}

.paper {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border: 15px solid rgba(236, 158, 14, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

.paper:active {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border: 15px solid rgba(236, 158, 14, 1);
  border-radius: 50%;
}

.paper:hover {
  border: 15px solid rgba(236, 158, 14, 1);
  transform: scale(1.05);
  transition: ease-in 0.2s;
}

.paper img {
  width: 50px;
  height: 50px;
}

.break {
  height: 0;
  flex-basis: 100%;
}

.rock {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border: 15px solid rgb(75, 238, 69,0.8);
  border-radius: 50%;
  cursor: pointer;
}

.rock:active {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border: 15px solid rgb(75, 238, 69,1);
  border-radius: 50%;
}

.rock:hover {
  transform: scale(1.05);
  border: 15px solid rgb(75, 238, 69,1);
  transition: ease-in 0.2s;
}

.rock img {
  width: 50px;
  height: 50px;
}

/* Rules button */
.rules {
  margin: 0 auto;
}

.rules-text {
  padding: 15px 40px;
  font-size: 1.3rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.rules-text:hover {
  color: rgb(96, 110, 133);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 200ms;
}

.rules-text:focus {
  outline: none;
}

/* Modal */
.modal {
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}

.modal-content h1 {
  color: rgb(59, 67, 99);
  font-size: 2rem;
  text-transform: uppercase;
}

.close-icon {
  cursor: pointer;
}

#result-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 8vw;
  font-weight: bold;
}

.text-blue {
  color: rgb(0, 0, 255)
}

.text-red {
  color: rgb(255, 20, 100)
}

/* Optimization for larger screen sizes */
@media screen and (min-width: 500px) {
  .scissors img {
    width: 75px;
    height: 75px;
  }

  .paper img {
    width: 75px;
    height: 75px;
  }

  .rock img {
    width: 75px;
    height: 75px;
  }

  .modal {
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    height: 450px;
    width: 450px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
  }

  #result-text {
    font-size: 3vw;
  }
}

@media screen and (min-width: 801px) {
  .scissors img {
    width: 100px;
    height: 100px;
  }

  .paper img {
    width: 100px;
    height: 100px;
  }

  .rock img {
    width: 100px;
    height: 100px;
  }

  .modal {
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    height: 500px;
    width: 500px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
  }

  #result-text {
    font-size: 3vw;
  }
}
